[Desktop Entry]
Name=Software Update
GenericName=Update Manager
Comment=Check for and install system updates
Exec=/usr/bin/cosmic-settings-update
Icon=software-update
Terminal=false
Type=Application
Categories=Settings;System;
StartupNotify=true
Keywords=update;upgrade;software;system;
X-COSMIC-Settings-Panel=update-manager
X-COSMIC-Settings-Weight=40
X-COSMIC-Settings-Icon=software-update
X-COSMIC-Settings-Keywords=update;upgrade;software;system;firmware;
