[Desktop Entry]
Type=Application
Name=Run with Wine
GenericName=Windows Executable Runner
Comment=Run Windows executables with Wine
Exec=wine %f
Icon=wine
Terminal=false
NoDisplay=true
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
Categories=System;Emulator;
StartupNotify=true
